{% extends 'base.html.twig' %}
{% block body %}
<main class="main-security">

    <form class="form-signin w-100 m-auto text-center" method="post" action="{{ url('app_login') }}">
        <img class="mb-2" src="{{ asset('images/logo.png') }}" alt="" >
        <h1 class="h3 mb-3 fw-normal">{{ "Please sign in"|trans }}</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if is_demo is same as(true) %}
        <div class="alert alert-info" role="alert">
            {{ "Demo Accounts"|trans }} :<br/>
            {% for user in constant('App\\DataFixtures\\AppFixtures::DEFAULT_USERS') %}
                {{ user.username }}/({{ user.roles|trans }})<br>
            {% endfor %}
            <hr>
            {{ "Password"|trans }} : projyzer
        </div>
        {% endif %}
        <div class="form-floating">
            <input type="text" name="_username" class="form-control" id="username" placeholder="">
            <label for="username">{{ "Username"|trans }}</label>
        </div>
        <div class="form-floating">
            <input type="password" name="_password"  class="form-control" id="password" placeholder="">
            <label for="password">{{ "Password"|trans }}</label>
        </div>

        <button class="w-100 btn btn-primary mt-4" type="submit">{{ "Sign in"|trans }}</button>
    </form>
    {{ include('copyright.html.twig') }}
</main>
{% endblock %}
