{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <main class="main-security">
        <div class="form-signup w-100 m-auto text-center">
            <img class="" src="{{ asset('images/logo.png') }}" alt="" >
            <h1 class="h3 mb-3 fw-normal">{{ "Change my password"|trans }}</h1>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.currentPassword) }}
            {{ form_row(form.password) }}
            {{ form_help(form.password) }}
            <div class="mt-4">
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
