{% extends 'base.html.twig' %}
{% block content %}
    <div class="mt-2 table-responsive">
        <h1>{{ "Tasks"|trans }}</h1>
        <table class="table table-striped table-hover" id="tasks">
            <thead>
            <tr>
                <th scope="col">{{ 'ID'|trans }}</th>
                <th scope="col">{{ "Organization"|trans }}</th>
                <th scope="col">{{ "Project"|trans }}</th>
                <th scope="col">{{ "Category"|trans }}</th>
                <th scope="col">{{ "Title"|trans }}</th>
                <th scope="col">{{ "Priority"|trans }}</th>
                <th scope="col">{{ "Status"|trans }}</th>
                <th scope="col">{{ "Assign to"|trans }}</th>
                <th scope="col">% {{ "Completed"|trans }}</th>
                <th scope="col">{{ "estimatedTime"|trans }}</th>
                <th scope="col">{{ "actualTime"|trans }}</th>
                <th scope="col" data-sortable="false"></th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.project.organizationUnit.name|default('-') }}</td>
                    <td>{{ task.project.name|default('-') }}</td>
                    <td>{{ task.taskCategoryReference.label|default('') }}</td>
                    <td><a href="{{ url('tasks_get', {task : task.id}) }}">{{ task.title }}</a></td>
                    <td>{{ task.priority|trans  }}</td>
                    <td>{{ task.lastStatus.label|default('')|trans }}</td>
                    <td>{{ task.assignedTo.username|default('') }}</td>
                    <td>
                        <progress max="100" value="{{ task.percentageCompleted }}">{{ task.percentageCompleted }}%</progress>
                    </td>
                    <td>{{ task.estimatedTime|default('0.00') }}</td>
                    <td>{{ task.actualTime|default('0.00') }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">☰</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a class="dropdown-item" href="{{ url('tasks_edit', {task : task.id}) }}">✏️
                                    {{ 'Edit'|trans }}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            const dataTable = new DataTable("#tasks", {
                searchable: true,
                perPage: 15,
                columns: [
                    {
                        select: 0,
                        sort: 'desc'
                    }
                ],
                labels: {
                    placeholder: "{{ 'Search...' | trans }}",
                    perPage: "{{ 'items per page' | trans }}",
                    noRows: "{{ 'No data' | trans }}",
                    info: "{{ 'Displaying {start} to {end} of {rows} items' | trans }}"
                },
                rowRender: (row, tr, _index) => {
                    if (!tr.attributes.class) {
                        tr.attributes.class = '';
                    }
                    if (row[5].text === "HIGH") {
                        tr.attributes.class += ' table-danger'
                    }else if (row[5].text === "MEDIUM") {
                        tr.attributes.class += ' table-warning'
                    }
                }
            })
        });
    </script>
{% endblock %}